<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tickets.Tickets.mapper.AdministratorMapper">
    <select id="find" resultType="Administrator">
        SELECT id ,	name,	password,	head
        FROM administrator
        WHERE name =#{name} AND password =#{password}
    </select>
    <select id="adminById" parameterType="java.lang.Long" resultType="Administrator">
        select id ,	name,	password,	head
        FROM administrator
        WHERE id =#{adminId}
    </select>

    <select id="adminByName" parameterType="String" resultType="Administrator">
        select id ,	name,	password,	head
        FROM administrator
        WHERE name =#{adminName}
    </select>
</mapper>