<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tickets.Tickets.mapper.LevelMapper">
    <select id="getLevelDetails" parameterType="java.lang.Long" resultType="Level">
        SELECT	id,	level_num ,	maxexp, 	discount
        from  level
        WHERE id =#{id}
    </select>
    <select id="findByLevel_num" parameterType="Integer" resultType="Level">
        SELECT	id,	level_num ,	maxexp, 	discount
        from  level
        WHERE level_num =#{level_num}
    </select>
    <select id="findAll" resultType="Level">
        SELECT	id,	level_num ,	maxexp, 	discount
        from  level
    </select>

    <insert id="addLevel" parameterType="Level">
        insert into LEVEL
        (level_num ,	maxexp, discount)VALUES (	#{level_num} ,#{maxexp}	, #{discount}	)
    </insert>

    <delete id="delLevel" parameterType="java.lang.Long">
    DELETE from level
    where id =#{id}
    </delete>

    <update id="updateLevel" parameterType="Level">
        UPDATE LEVEL
        set level_num =#{level_num},maxexp=#{maxexp},discount =#{discount}
        where id =#{id}
    </update>

    <select id="count" resultType="Integer" >
        SELECT count(id)
        FROM level
    </select>

    <select id="ListLevels" parameterType="PageDto" resultType="Level">
    SELECT	id,	level_num ,	maxexp, 	discount
        from  level
        ORDER BY level_num
        limit #{offset_row} , #{page_size}
    </select>
</mapper>