<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tickets.Tickets.mapper.PlanMapper">
<select id="findAllPendingPlans" parameterType="PageDto" resultType="Plan">
    SELECT id,	promulgatorid,	name,	starttime,	endtime,	introduction,	cover,	location,	venueid,	overdue,	isrecommend,	type,	scheme,	state
    FROM plan
    WHERE state ='pending'
    ORDER BY starttime DESC
    limit #{offset_row} , #{page_size}
</select>


<update id="updateState" parameterType="Plan">
    UPDATE plan
    set state =#{state}
    where id =#{id}
</update>
</mapper>