<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tickets.Tickets.mapper.PlanMapper">

    <select id="findPlansByState" resultType="com.tickets.Tickets.vo.PlanVo">
    SELECT p.id ,	p.promulgatorid,	p.name,	p.starttime,	p.endtime,	p.introduction,	p.cover,	p.location,	p.venueid,	p.overdue,	p.isrecommend,	p.type,	p.scheme,	p.state,
  up.name as promulgatorname  ,v.name as venuename
    FROM plan p,promulgator up,venue v
    WHERE state =#{state} AND p.promulgatorid =up.id AND p.venueid =v.id
    ORDER BY starttime DESC
    limit #{pageDto.offset_row} , #{pageDto.page_size}
</select>

    <select id="getAllPlans" parameterType="PageDto" resultType="com.tickets.Tickets.vo.PlanVo">
         SELECT p.id ,	p.promulgatorid,	p.name,	p.starttime,	p.endtime,	p.introduction,	p.cover,	p.location,	p.venueid,	p.overdue,	p.isrecommend,	p.type,	p.scheme,	p.state,
  up.name as promulgatorname  ,v.name as venuename
    FROM plan p,promulgator up,venue v
    WHERE  p.promulgatorid =up.id AND p.venueid =v.id
        ORDER BY starttime DESC
        limit #{offset_row} , #{page_size}
    </select>


    <update id="updateState" parameterType="Plan">
    UPDATE plan
    set state =#{state}
    where id =#{id}
</update>
    <update id="updateRecommend" parameterType="Plan">
        UPDATE plan
        set isrecommend =#{isrecommend}
        where id =#{id}
    </update>

    <select id="countAll" resultType="Integer">
        SELECT count(id)
        FROM plan
    </select>

    <select id="countState" parameterType="String" resultType="Integer">
        SELECT count(id)
        FROM plan
        WHERE state =#{state}
    </select>
    <select id="PlanVoById" parameterType="java.lang.Long" resultType="com.tickets.Tickets.vo.PlanVo">
        SELECT p.id ,	p.promulgatorid,	p.name,	p.starttime,	p.endtime,	p.introduction,	p.cover,	p.location,	p.venueid,	p.overdue,	p.isrecommend,	p.type,	p.scheme,	p.state,
  up.name as promulgatorname  ,v.name as venuename
    FROM plan p,promulgator up,venue v
    WHERE p.id =#{id} AND p.promulgatorid =up.id AND p.venueid =v.id
    </select>
</mapper>