<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>后台用户登录</title>
</head>
<body bgcolor="#a52a2a">
<h1>后台用户登录</h1>
<p>段落测试</p>
<a href ="http://www.baidu.com" name ='a"sb"dq' class="hh" id="first-alink">跳转<br/>百<br/>度<br/>的连接</a>
<form action="#" th:action="@{pro/login}" th:object="${promulgator}"  method="post">
    <p><input type="text" name="name" /></p>
    <p><input type="text" name="password"/></p>
    <p><input type ="submit"/></p>
</form>

<hr />

<!--This is a comment-->
<!--aada-->
<!---->
</body>
</html>