<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Tickets</title>
<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script th:inline="javascript">
/*<![CDATA[*/      //加上这些，否则如果js有大于号、小于号等会报SAX解析错误
	$(function () {
		var lxplans = [[${lxplans}]];
		var i=1;
		$.each(lxplans, function(){
			var td=$("<td/>");
			td.attr("class", "plantd");
			var img=$("<img/>");
			img.attr("class", "cover2").attr("src", [[@{/cover/}]] + this.cover).appendTo(td);
            var url= [[@{/user/loadseat}]]+"?planid="+this.id;
            var url2= [[ @{/user/loginV} ]];	//thymeleaf写法，没登录就跳转到登录
            if([[${session.user}]]==null){//没有登录
            	img.click(function(){window.location.href=url2;});
            }else{
            	img.click(function(){window.location.href=url;});
            }
            $("<br/>").appendTo(td);
			$("<span/>").attr("class", "plantitle").html(this.name).appendTo(td);
			if(i<=3){$("#lxtable tr:nth-child(1)").append(td);}else{$("#lxtable tr:nth-child(2)").append(td);}
			i++;
		});
		

		var gdplans = [[${gdplans}]];
		i=1;
		$.each(gdplans, function(){
			var td=$("<td/>");
			td.attr("class", "plantd");
			var img=$("<img/>");
			img.attr("class", "cover2").attr("src", [[@{/cover/}]] + this.cover).appendTo(td);
            var url= [[@{/user/loadseat}]]+"?planid="+this.id;
            var url2= [[ @{/user/loginV} ]];	//thymeleaf写法，没登录就跳转到登录
            if([[${session.user}]]==null){//没有登录
            	img.click(function(){window.location.href=url2;});
            }else{
            	img.click(function(){window.location.href=url;});
            }
            $("<br/>").appendTo(td);
			$("<span/>").attr("class", "plantitle").html(this.name).appendTo(td);
			if(i<=3){$("#gdtable tr:nth-child(1)").append(td);}else{$("#gdtable tr:nth-child(2)").append(td);}
			i++;
		});
		

		var ygplans = [[${ygplans}]];
		i=1;
		$.each(ygplans, function(){
			var td=$("<td/>");
			td.attr("class", "plantd");
			var img=$("<img/>");
			img.attr("class", "cover2").attr("src", [[@{/cover/}]] + this.cover).appendTo(td);
            var url= [[@{/user/loadseat}]]+"?planid="+this.id;
            var url2= [[ @{/user/loginV} ]];	//thymeleaf写法，没登录就跳转到登录
            if([[${session.user}]]==null){//没有登录
            	img.click(function(){window.location.href=url2;});
            }else{
            	img.click(function(){window.location.href=url;});
            }
            $("<br/>").appendTo(td);
			$("<span/>").attr("class", "plantitle").html(this.name).appendTo(td);
			if(i<=3){$("#ygtable tr:nth-child(1)").append(td);}else{$("#ygtable tr:nth-child(2)").append(td);}
			i++;
		});
		

		var mzplans = [[${mzplans}]];
		i=1;
		$.each(mzplans, function(){
			var td=$("<td/>");
			td.attr("class", "plantd");
			var img=$("<img/>");
			img.attr("class", "cover2").attr("src", [[@{/cover/}]] + this.cover).appendTo(td);
            var url= [[@{/user/loadseat}]]+"?planid="+this.id;
            var url2= [[ @{/user/loginV} ]];	//thymeleaf写法，没登录就跳转到登录
            if([[${session.user}]]==null){//没有登录
            	img.click(function(){window.location.href=url2;});
            }else{
            	img.click(function(){window.location.href=url;});
            }
            $("<br/>").appendTo(td);
			$("<span/>").attr("class", "plantitle").html(this.name).appendTo(td);
			if(i<=3){$("#mztable tr:nth-child(1)").append(td);}else{$("#mztable tr:nth-child(2)").append(td);}
			i++;
		});
		

		var xcplans = [[${xcplans}]];
		i=1;
		$.each(lxplans, function(){
			var td=$("<td/>");
			td.attr("class", "plantd");
			var img=$("<img/>");
			img.attr("class", "cover2").attr("src", [[@{/cover/}]] + this.cover).appendTo(td);
            var url= [[@{/user/loadseat}]]+"?planid="+this.id;
            var url2= [[ @{/user/loginV} ]];	//thymeleaf写法，没登录就跳转到登录
            if([[${session.user}]]==null){//没有登录
            	img.click(function(){window.location.href=url2;});
            }else{
            	img.click(function(){window.location.href=url;});
            }
            $("<br/>").appendTo(td);
			$("<span/>").attr("class", "plantitle").html(this.name).appendTo(td);
			if(i<=3){$("#xctable tr:nth-child(1)").append(td);}else{$("#xctable tr:nth-child(2)").append(td);}
			i++;
		});
		

		var gxyplans = [[${gxyplans}]];
		i=1;
		$.each(gxyplans, function(){
			var td=$("<td/>");
			td.attr("class", "plantd");
			var img=$("<img/>");
			img.attr("class", "cover2").attr("src", [[@{/cover/}]] + this.cover).appendTo(td);
            var url= [[@{/user/loadseat}]]+"?planid="+this.id;
            var url2= [[ @{/user/loginV} ]];	//thymeleaf写法，没登录就跳转到登录
            if([[${session.user}]]==null){//没有登录
            	img.click(function(){window.location.href=url2;});
            }else{
            	img.click(function(){window.location.href=url;});
            }
            $("<br/>").appendTo(td);
			$("<span/>").attr("class", "plantitle").html(this.name).appendTo(td);
			if(i<=3){$("#gxytable tr:nth-child(1)").append(td);}else{$("#gxytable tr:nth-child(2)").append(td);}
			i++;
		});
		

		var qtplans = [[${qtplans}]];
		i=1;
		$.each(qtplans, function(){
			var td=$("<td/>");
			td.attr("class", "plantd");
			var img=$("<img/>");
			img.attr("class", "cover2").attr("src", [[@{/cover/}]] + this.cover).appendTo(td);
            var url= [[@{/user/loadseat}]]+"?planid="+this.id;
            var url2= [[ @{/user/loginV} ]];	//thymeleaf写法，没登录就跳转到登录
            if([[${session.user}]]==null){//没有登录
            	img.click(function(){window.location.href=url2;});
            }else{
            	img.click(function(){window.location.href=url;});
            }
            $("<br/>").appendTo(td);
			$("<span/>").attr("class", "plantitle").html(this.name).appendTo(td);
			if(i<=3){$("#qttable tr:nth-child(1)").append(td);}else{$("#qttable tr:nth-child(2)").append(td);}
			i++;
		});
		

		$(".add_and_top").hide();
		$(window).scroll(function(){
			if ($(window).scrollTop()>200){
				$(".add_and_top").fadeIn(1000);
			}
			else{
				$(".add_and_top").fadeOut(1000);
			}
            var scrolltop = $(window).scrollTop();
            if(scrolltop >= 80){
                $(".class_title").css({
                    "position":"fixed",
                    "_position":"absolute",
                    "_top":scrolltop-80+"px",
                    "top":0+"px",
                    "width":"100%"
                });
            }else{
                $(".class_title").css({
                    "position":"relative",
                    "top":0
                });    
            }
		});
		$(".add_and_top .to_top_aside").click(function(){
			$('body,html').animate({scrollTop:0},400);//400毫秒回到顶部
			return false;
		});
	});


	$("#scb").click(function(){
        search(1);
	});
	
	
	function validate1(f){
        return true;
	}

/*]]>*/
</script>

<!-- layui相关 -->
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
<script th:src="@{/layui/layui.js}" type="text/javascript"></script>
<script>
layui.use('element', function(){
  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
  
  //监听导航点击
  element.on('nav(demo)', function(elem){
    //console.log(elem)
    layer.msg(elem.text());
  });
});

</script>

<style type="text/css" th:inline="text">
#t1 {
	margin:0 auto;
	background-color:#393D49;
}
/*t2在水平上居中，且有宽度1000px*/
#t2 {
	width:1000px;
	margin:0 auto;/*t2在水平上居中*/
	position:relative;
}
#t3 {
	width:1000px;
	margin:0 auto;
}

/*搜索框*/
#searchbox {
	margin-left:0px;
}
#kword {
	width:400px;
	height:30px;
	margin-left:120px;
}

#main {
	overflow:hidden;
	width:1000px;
	height:440px;
	margin:0 auto;/*在水平上居中*/
}
#leftdiv {
	float:left;
	width:200px;
	height:440px;
}
#test10 {
	float:right;
	width:778px;
	height:440px;
}

/*音乐会类型*/
.ct {
	border:#cccccc solid; 
	border-width:1px;
	
	width:996px;
	display:block;
    margin-top:20px;
}
.ctword {
	margin-left:10px;
	margin-top:10px;
	font-size: 28px;
}
a.getall {
	margin-left:800px;
}
a.getall, a.getall:link{/*超链接平常的状态*/
	text-decoration:none;/*去掉下划线*/
}
a.getall:hover, a.getall:active{/*鼠标放到超链接上的时候；超链接被按下的时候 */
	color:#f00a75;
}


.cover1_div div{
	text-align: center; /*里面的元素水平居中*/
}
.cover1_div span{
	width:778px;
	display:block; /*将tr设置为块体元素*/
	background-color:#ffffff;
	font-size: 28px;
	font-weight:bold; /*加粗*/
}

td.plantd {
	width: 332px;
    padding:10px 16px 20px 16px;/*设置上、右、下、左内边距*/
	text-align: center; /*里面的元素水平居中*/
}
img.cover2 {
	width: 300px;
	height: 170px;
	cursor:pointer;
}
.plantitle {
	color:#f00a75;
}



.add_and_top{
	position:fixed;/*固定坐标*/
	bottom:100px;
	right:50px;
	width:60px;
	height:60px;
}
.to_top_aside{
	display:block;/*没有这句图片就显示不出来*/
	background:url(  [[@{/images/totop.png}]]  ) no-repeat;	/*thymeleaf写法*/
	width:60px;
	height:60px;
	cursor:pointer;
}
</style>
</head>
<body>

<div id="t1">
<div id="t2">
<ul class="layui-nav">
  <li class="layui-nav-item layui-this"><a th:href="@{/user/indexV}">最新演出</a></li>
  <li class="layui-nav-item" th:if="${session.user}">
    <a href="javascript:;">我的订单</a>
    <dl class="layui-nav-child">
      <dd><a th:href="@{/user/myordersV(order_state=all)}">全部订单</a></dd>
      <dd><a th:href="@{/user/myordersV(order_state=unpaid)}">未支付</a></dd>
      <dd><a th:href="@{/user/myordersV(order_state=paid)}">已支付</a></dd>
      <dd><a th:href="@{/user/myordersV(order_state=finished)}">已完成</a></dd>
    </dl>
  </li>
</ul>
<ul class="layui-nav layui-layout-right" th:unless="${session.user}">
  <li class="layui-nav-item"><a th:href="@{/user/loginV}">登录</a></li>
  <li class="layui-nav-item"><a th:href="@{/user/regV}">注册</a></li>
</ul>
<ul class="layui-nav layui-layout-right" th:if="${session.user}">
   <li class="layui-nav-item">
    <a href="">系统消息<span class="layui-badge">9</span></a>
  </li>
  <li class="layui-nav-item" lay-unselect="" style="margin-right: 20px;">
    <a href="javascript:;"><img th:src="@{/faces/default.jpg}" class="layui-nav-img"/><font th:text="${session.user.nickname}"></font></a>
    <dl class="layui-nav-child">
      <dd><a href="javascript:;">修改信息</a></dd>
      <dd><a href="javascript:;">安全管理</a></dd>
      <dd><a href="javascript:;">充值</a></dd>
      <dd><a th:href="@{/user/logout}">退了</a></dd>
    </dl>
  </li>
</ul>
</div>
</div>

<div id="t3">
<br/>
<br/>


<form id="searchbox" th:action="@{/user/planlistV}" method="post" onsubmit="return validate1(this)">
	<a th:href="@{/user/indexV}"><img th:src="@{/images/logo.png}"/></a>
	<input type="text" id="kword" name="keyword" placeholder="请输入关键字"/>
	<button class="layui-btn layui-btn-normal layui-btn-radius">搜全网</button>
</form>

<br/>
<br/>

<div id="main">
<div id="leftdiv">
<br/>
<br/>
<br/>
<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">
  <li class="layui-nav-item"><a th:href="@{/user/planlistV(type=流行)}">流行</a></li>
  <li class="layui-nav-item"><a th:href="@{/user/planlistV(type=古典)}">古典</a></li>
  <li class="layui-nav-item"><a th:href="@{/user/planlistV(type=摇滚)}">摇滚</a></li>
  <li class="layui-nav-item"><a th:href="@{/user/planlistV(type=名族)}">名族</a></li>
  <li class="layui-nav-item"><a th:href="@{/user/planlistV(type=乡村)}">乡村</a></li>
  <li class="layui-nav-item"><a th:href="@{/user/planlistV(type=管弦乐)}">管弦乐</a></li>
  <li class="layui-nav-item"><a th:href="@{/user/planlistV(type=其它)}">其它</a></li>
</ul>
</div>



<div class="layui-carousel" id="test10">
  <div carousel-item="" class="cover1_div">
    <div th:each="plan: ${rcmplans}">
    	<span th:text="${plan.name}"></span>
    	<a th:if="${session.user}" th:href="@{/user/loadseat}+'?planid='+${plan.id}"><img th:src="@{/cover/}+${plan.cover}"/></a>
    	<a th:unless="${session.user}" th:href="@{/user/loginV}"><img th:src="@{/cover/}+${plan.cover}"/></a>
    </div>
  </div>
</div>
<script>
layui.use(['carousel', 'form'], function(){
  var carousel = layui.carousel
  ,form = layui.form;

  //图片轮播
  carousel.render({
    elem: '#test10'
    ,width: '778px'
    ,height: '440px'
    ,interval: 5000
  });
  
});
</script>
</div>

<div class="ct">
<span class="ctword">流行</span><a class="getall" th:href="@{/user/planlistV(type=流行)}">查看全部&gt;&gt;</a>
<table id="lxtable"><tr></tr><tr></tr></table>
</div>
<div class="ct">
<span class="ctword">古典</span><a class="getall" th:href="@{/user/planlistV(type=古典)}">查看全部&gt;&gt;</a>
<table id="gdtable"><tr></tr><tr></tr></table>
</div>
<div class="ct">
<span class="ctword">摇滚</span><a class="getall" th:href="@{/user/planlistV(type=摇滚)}">查看全部&gt;&gt;</a>
<table id="ygtable"><tr></tr><tr></tr></table>
</div>
<div class="ct">
<span class="ctword">名族</span><a class="getall" th:href="@{/user/planlistV(type=名族)}">查看全部&gt;&gt;</a>
<table id="mztable"><tr></tr><tr></tr></table>
</div>
<div class="ct">
<span class="ctword">乡村</span><a class="getall" th:href="@{/user/planlistV(type=乡村)}">查看全部&gt;&gt;</a>
<table id="xctable"><tr></tr><tr></tr></table>
</div>
<div class="ct">
<span class="ctword">管弦乐</span><a class="getall" th:href="@{/user/planlistV(type=管弦乐)}">查看全部&gt;&gt;</a>
<table id="gxytable"><tr></tr><tr></tr></table>
</div>
<div class="ct">
<span class="ctword">其它</span><a class="getall" th:href="@{/user/planlistV(type=其它)}">查看全部&gt;&gt;</a>
<table id="qttable"><tr></tr><tr></tr></table>
</div>




<br/>
<br/>
</div>


<div class="add_and_top">
	<a class="to_top_aside" title="返回顶部"></a>
</div>


</body>
</html>