<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Tickets</title>
<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script th:inline="javascript">
/*<![CDATA[*/      //加上这些，否则如果js有大于号、小于号等会报SAX解析错误
	
	//3个全局定时器
	var timer1;
	var timer2;
	var timer3;
	
	$(function () {
		//显示未读消息数
		if([[${session.user}]]!=null){//如果登录了
			$.ajax({
				type : "POST",
				url : [[ @{/user/noticescount} ]],
				data : {
					read_state : "false"
				},
				dataType : "json",
				success : function(data){
					if(Number(data)!=0){
						$("span.layui-badge").html(data).show();
					}
				}
			});
		}
		
		
		//先隐藏所有结果div
		var rs_items = $("div.rs_item");
		for(var k=0;k<3;k++) {
			rs_items.eq(k).hide();
		}
		
		if($("#order_state").val()=="unpaid"){
			$("#order_dd").next().children("a").css({"background-color":"#009688", "color":"#ffffff"});
		}else if($("#order_state").val()=="paid"){
			$("#order_dd").next().next().children("a").css({"background-color":"#009688", "color":"#ffffff"});
		}else if($("#order_state").val()=="finished"){
			$("#order_dd").next().next().next().children("a").css({"background-color":"#009688", "color":"#ffffff"});
		}else{//是all
			$("#order_dd a").css({"background-color":"#009688", "color":"#ffffff"});
		}
		
		//第一次通过链接进入页面，马上搜索
		search(1);
	});
	
	function search(pageNum){
		//先隐藏所有结果div
		var rs_items = $("div.rs_item");
		for(var k=0;k<3;k++) {
			rs_items.eq(k).hide();
		}
		//清定时器
		clearInterval(timer1);
		clearInterval(timer2);
		clearInterval(timer3);
		$(".rtime").html("0:0");
		
		
		
		$.ajax({
			type : "POST",
			url : [[ @{/user/searchorders} ]],
			data : {
				pageSize : 3,
				index : pageNum,
				order_state : $("#order_state").val()
			},
			dataType : "json",
			success : func1
		});
	}
	function func1(data){

		var recordCount = data.recordCount;
		var pageCount = data.pageCount;
		var index = data.index;

		$("#num_span").html(recordCount);
		
		//设置底部分页
		if(pageCount==0){//0页，即0个结果
			$("#page_table").hide();
			return;
		}
		$("#page_table").show();
		$("#pageCount_input").val(pageCount);
		
		var n=13;//为了居中，按钮个数是奇数最好
		var c=pageCount, p=index;
		var page_tr = $("#page_table tr");
		page_tr.empty();
		if(c<=n){
	        for(var i=1;i<=c;i++) {
	        	var td = $("<td/>");
	        	var div = $("<div/>");
	        	if(i==p){
	        		div.attr("class", "current_page").html(i);
	        	}else{
	        		div.attr("class", "normal_page").html(i);
	        	}
	        	td.appendTo(page_tr).append(div);
	    	}
		}else if(c==n+1){
			if(1<=p&&p<=(n+1)/2) {
		        for(var i=1;i<=n-2;i++) {
		        	var td = $("<td/>");
		        	var div = $("<div/>");
		        	if(i==p){
		        		div.attr("class", "current_page").html(i);
		        	}else{
		        		div.attr("class", "normal_page").html(i);
		        	}
		        	td.appendTo(page_tr).append(div);
		    	}
	        	var td2 = $("<td/>");
	        	var div2 = $("<div/>");
	        	div2.attr("class", "more_page").html("...");
	        	td2.appendTo(page_tr).append(div2);
	        	var td3 = $("<td/>");
	        	var div3 = $("<div/>");
	        	div3.attr("class", "normal_page").html(c);
	        	td3.appendTo(page_tr).append(div3);
			}else if(p> c-((n+1)/2)) {
	        	var td2 = $("<td/>");
	        	var div2 = $("<div/>");
	        	div2.attr("class", "normal_page").html(1);
	        	td2.appendTo(page_tr).append(div2);
	        	var td3 = $("<td/>");
	        	var div3 = $("<div/>");
	        	div3.attr("class", "more_page").html("...");
	        	td3.appendTo(page_tr).append(div3);
		        for(var i=c-n+3;i<=c;i++) {
		        	var td = $("<td/>");
		        	var div = $("<div/>");
		        	if(i==p){
		        		div.attr("class", "current_page").html(i);
		        	}else{
		        		div.attr("class", "normal_page").html(i);
		        	}
		        	td.appendTo(page_tr).append(div);
		    	}
			}
		}else if(c > n+1){
			if(1<=p&&p<=(n+1)/2) {
		        for(var i=1;i<=n-2;i++) {
		        	var td = $("<td/>");
		        	var div = $("<div/>");
		        	if(i==p){
		        		div.attr("class", "current_page").html(i);
		        	}else{
		        		div.attr("class", "normal_page").html(i);
		        	}
		        	td.appendTo(page_tr).append(div);
		    	}
	        	var td2 = $("<td/>");
	        	var div2 = $("<div/>");
	        	div2.attr("class", "more_page").html("...");
	        	td2.appendTo(page_tr).append(div2);
	        	var td3 = $("<td/>");
	        	var div3 = $("<div/>");
	        	div3.attr("class", "normal_page").html(c);
	        	td3.appendTo(page_tr).append(div3);
			}else if((n+1)/2 < p&&p <= c-((n+1)/2)) {
	        	var td2 = $("<td/>");
	        	var div2 = $("<div/>");
	        	div2.attr("class", "normal_page").html(1);
	        	td2.appendTo(page_tr).append(div2);
	        	var td3 = $("<td/>");
	        	var div3 = $("<div/>");
	        	div3.attr("class", "more_page").html("...");
	        	td3.appendTo(page_tr).append(div3);
		        for(var i=p-((n+1)/2-2)+1;i<=p+((n+1)/2-2)-1;i++) {
		        	var td = $("<td/>");
		        	var div = $("<div/>");
		        	if(i==p){
		        		div.attr("class", "current_page").html(i);
		        	}else{
		        		div.attr("class", "normal_page").html(i);
		        	}
		        	td.appendTo(page_tr).append(div);
		    	}
	        	var td4 = $("<td/>");
	        	var div4 = $("<div/>");
	        	div4.attr("class", "more_page").html("...");
	        	td4.appendTo(page_tr).append(div4);
	        	var td5 = $("<td/>");
	        	var div5 = $("<div/>");
	        	div5.attr("class", "normal_page").html(c);
	        	td5.appendTo(page_tr).append(div5);
			}else if(p> c-((n+1)/2)) {
	        	var td2 = $("<td/>");
	        	var div2 = $("<div/>");
	        	div2.attr("class", "normal_page").html(1);
	        	td2.appendTo(page_tr).append(div2);
	        	var td3 = $("<td/>");
	        	var div3 = $("<div/>");
	        	div3.attr("class", "more_page").html("...");
	        	td3.appendTo(page_tr).append(div3);
		        for(var i=c-n+3;i<=c;i++) {
		        	var td = $("<td/>");
		        	var div = $("<div/>");
		        	if(i==p){
		        		div.attr("class", "current_page").html(i);
		        	}else{
		        		div.attr("class", "normal_page").html(i);
		        	}
		        	td.appendTo(page_tr).append(div);
		    	}
			}
		}
		$(".normal_page").hover(function(){
			$(this).attr("class","normal_page_hover");
		},function(){
			$(this).attr("class","normal_page");
		});
		$(".normal_page, .current_page").click(function(){
			search(Number($(this).html()));
		});
    	var pageNum_td = $("<td/>");
    	var pageNum_input = $("<input/>");
    	pageNum_input.attr("type", "text").attr("class", "pageNum").val(1);
    	pageNum_td.appendTo(page_tr).append(pageNum_input);
    	var jmp_td = $("<td/>");
    	var jmp_div = $("<div/>");
    	jmp_div.attr("class", "jmp_btn").html("跳转");
    	jmp_div.hover(function(){
			$(this).attr("class","jmp_btn_hover");
		},function(){
			$(this).attr("class","jmp_btn");
		});
    	jmp_div.click(function(){
    		var page_n = $("input.pageNum").val();
    		if(!/^[0-9]+$/.test(page_n) || Number(page_n)==0) {//是否为正整数
    			alert("请输入正整数！");
    			$("input.pageNum").val(1);
    			return;
    		}
    		if(Number(page_n)>Number($("#pageCount_input").val())) {//是否超出页数
    			alert("超出页数！");
    			$("input.pageNum").val(1);
    			return;
    		}
			search(Number(page_n));
    	});
    	jmp_td.appendTo(page_tr).append(jmp_div);
		//设置底部分页完
		
		
		var rs_items = $("div.rs_item");
		var orderid_spans = $(".orderid_span");
		var time_spans = $(".time_span");
		var money_spans = $(".money_span");
		var perc_spans = $(".perc_span");
		var rmoney_spans = $(".rmoney_span");
		var points_cost_spans = $(".points_cost_span");
		var state_spans = $(".state_span");
		var rtime_label_spans = $(".rtime_label");
		var rtime_spans = $(".rtime");
		var btn1s = $(".btn1");
		var btn2s = $(".btn2");
		var btn3s = $(".btn3");
		var od_as = $(".od_a");
        var i=0;
		var list = data.list;
		$.each(list, function(){
			orderid_spans.eq(i).html(this.orderid);
			time_spans.eq(i).html(this.time.substring(0,19));
			money_spans.eq(i).html("￥"+this.money);
			if(0.995<Number(this.perc) && Number(this.perc)<1.005 ){
				perc_spans.eq(i).html("原价");
			}else{
				perc_spans.eq(i).html((Number(this.perc)*100)+"折");
			}
			rmoney_spans.eq(i).html("￥"+this.rmoney);
			points_cost_spans.eq(i).html(this.points_cost);

			var url6 = [[ @{/user/orderdetailV} ]]+"?orderid="+this.orderid;
			od_as.eq(i).attr("href", url6);
			
			if(this.state=="unpaid"){
				var st = new Date(this.time);
				var nt = new Date();
				if(nt-st <= 900000){//如果没有超过15分钟
					rtime_label_spans.eq(i).show();
					btn1s.eq(i).show();
					btn2s.eq(i).show();
					btn3s.eq(i).hide();
					var url1 = [[ @{/user/payorder} ]]+"?orderid="+this.orderid;
					btn1s.eq(i).click(function(){ window.location.href=url1; });
					var url2 = [[ @{/user/cancelorder} ]]+"?orderid="+this.orderid;
					btn2s.eq(i).click(function(){ window.location.href=url2; });
					state_spans.eq(i).html("未支付");
					var sppp = rtime_spans.eq(i);
					var starttime = new Date(this.time);
					if(i==0) {
						timer1 = setInterval(function () {
							var nowtime = new Date();
							var time = starttime-nowtime + 900000;//毫秒
							if(time < -1){
								clearInterval(timer1);
							}
							var minute = parseInt(time / 1000 / 60 % 60);
							var seconds = parseInt(time / 1000 % 60);
							sppp.html(minute + ":" + seconds);
						}, 1000);
					}else if(i==1) {
						timer2 = setInterval(function () {
							var nowtime = new Date();
							var time = starttime-nowtime + 900000;//毫秒
							if(time < -1){
								clearInterval(timer2);
							}
							var minute = parseInt(time / 1000 / 60 % 60);
							var seconds = parseInt(time / 1000 % 60);
							sppp.html(minute + ":" + seconds);
						}, 1000);
					}else if(i==2) {
						timer3 = setInterval(function () {
							var nowtime = new Date();
							var time = starttime-nowtime + 900000;//毫秒
							if(time < -1){
								clearInterval(timer3);
							}
							var minute = parseInt(time / 1000 / 60 % 60);
							var seconds = parseInt(time / 1000 % 60);
							sppp.html(minute + ":" + seconds);
						}, 1000);
					}
				}else {//超过了15分钟
					rtime_label_spans.eq(i).hide();
					btn1s.eq(i).hide();
					btn2s.eq(i).show();
					btn3s.eq(i).hide();
					var url2 = [[ @{/user/cancelorder} ]]+"?orderid="+this.orderid;
					btn2s.eq(i).click(function(){ window.location.href=url2; });
					state_spans.eq(i).html("已超时");
				}
			}else if(this.state=="paid"){
				rtime_label_spans.eq(i).hide();
				btn1s.eq(i).hide();
				btn2s.eq(i).hide();
				btn3s.eq(i).show();
				var url3 = [[ @{/user/unsubscribeorder} ]]+"?orderid="+this.orderid;
				btn3s.eq(i).click(function(){ window.location.href=url3; });
				state_spans.eq(i).html("已支付");
			}else if(this.state=="finished"){
				rtime_label_spans.eq(i).hide();
				btn1s.eq(i).hide();
				btn2s.eq(i).hide();
				btn3s.eq(i).hide();
				state_spans.eq(i).html("已完成");
			}
			
			
			rs_items.eq(i).show();
            i++;
		});
		
	}
/*]]>*/
</script>

<!-- layui相关 -->
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
<script th:src="@{/layui/layui.js}" type="text/javascript"></script>
<script>
layui.use('element', function(){
  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
  
  //监听导航点击
  element.on('nav(demo)', function(elem){
    //console.log(elem)
    layer.msg(elem.text());
  });
});

</script>

<style type="text/css" th:inline="text">
#t1 {
	margin:0 auto;
	background-color:#393D49;
}
/*t2在水平上居中，且有宽度1000px*/
#t2 {
	width:1000px;
	margin:0 auto;/*t2在水平上居中*/
	position:relative;
}
#t3 {
	width:1000px;
	margin:0 auto;
}




/*主体*/
#tb {
	/*
	background-color:#eeee00;
	*/
	width:996px;
}
#left_div {
	/*
	background-color:#ee0000;
	*/
	width:300px;
	margin-top:0px;
	display:block; /*将tr设置为块体元素*/
}
#right_div {
	/*
	background-color:#00ee00;
	*/
	width:696px;
	margin-top:0px;
	
	border:#cccccc solid; 
	border-width:1px;
}
.rs_item {
	margin-top:0px;
}
.rs_item_top {
	background-color:#eff3ff;
	height: 25px;
}


.border {
	margin-top:0px;
	width:690px;
}

.money_span, .perc_span, .rmoney_span {
	color:#ee0000;
}
input[type="button"]{
	width: 70px;
	height: 25px;
	
	background:#7dc3f3;/*背景色*/
	border: none;/*去掉边界*/
	border-radius:15px;/*圆角矩形样式*/
	transition-duration: 0.4s;/*变化时间*/
	color: white;/*字体颜色*/
}
input[type="button"]:hover {
	background-color: #99ff33;/*新背景色，Green*/
    color: black;/*字体颜色*/
    cursor:pointer;
}


.head {
	margin-top:6px;
	margin-left:7px;
	width:680px;
height:24px;
line-height:24px;
text-indent:10px;
background: #96E555;
cursor: pointer;

	border:#cccccc solid; 
	border-width:1px;
}
.content {
	margin-left:7px;

	width:682px;
height:80px;

background: #eeeeee;

	display: none; /*隐藏*/
}
a.od_a, a.od_a:link{/*超链接平常的状态*/
	color:#0000ff;
	text-decoration:none;/*去掉下划线*/
}
a.od_a:hover, a.od_a:active{/*鼠标放到超链接上的时候；超链接被按下的时候 */
	color:#ff0000;
	text-decoration : underline;/*加下划线*/
}


/*底部分页样式*/
#page_div{
	width:696px;
}
#page_table{
	margin:0 auto;
	display: none; /*隐藏*/
}
.current_page, .normal_page, .more_page{
	width:30px;
	height:30px;
	text-align: center; /*里面的元素水平居中*/
	line-height:30px;
}
.current_page {
	border:#ff5722 solid; 
	border-width:1px;
	background-color:#ff5722;
	color:#ffffff;
}
.normal_page, .more_page{
	border:#cccccc solid; 
	border-width:1px;
	background-color:#ffffff;
	color:#000000;
}
.normal_page_hover{
	width:30px;
	height:30px;
	text-align: center; /*里面的元素水平居中*/
	line-height:30px;
	border:#ff5722 solid; 
	border-width:1px;
	background-color:#ff5722;
	color:#ffffff;
}
.current_page, .normal_page, .normal_page_hover {
	cursor:pointer;
}
.pageNum {
	background-color:#eeeeee;
	font-size:12px;
	width:30px;
	padding:5px 0px 5px 0px;/*设置上、右、下、左内边距*/
	margin:0px 3px 0px 10px;/*设置上、右、下、左外边距*/
	
	border:none;/*没有边框*/
}
.jmp_btn {
	width:50px;
	height:30px;
	text-align: center; /*里面的元素水平居中*/
	line-height:30px;
	border:#cccccc solid; 
	border-width:1px;
	background-color:#ffffff;
	color:#000000;
	cursor:pointer;
}
.jmp_btn_hover {
	width:50px;
	height:30px;
	text-align: center; /*里面的元素水平居中*/
	line-height:30px;
	border:#ff5722 solid; 
	border-width:1px;
	background-color:#ff5722;
	color:#ffffff;
	cursor:pointer;
}
/*底部分页样式完*/

</style>
</head>
<body>

<div id="t1">
<div id="t2">
<ul class="layui-nav">
  <li class="layui-nav-item layui-this"><a th:href="@{/user/indexV}">最新演出</a></li>
  <li class="layui-nav-item" th:if="${session.user}">
    <a href="javascript:;">我的订单</a>
    <dl class="layui-nav-child">
      <dd><a th:href="@{/user/myordersV(order_state=all)}">全部订单</a></dd>
      <dd><a th:href="@{/user/myordersV(order_state=unpaid)}">未支付</a></dd>
      <dd><a th:href="@{/user/myordersV(order_state=paid)}">已支付</a></dd>
      <dd><a th:href="@{/user/myordersV(order_state=finished)}">已完成</a></dd>
    </dl>
  </li>
</ul>
<ul class="layui-nav layui-layout-right" th:unless="${session.user}">
  <li class="layui-nav-item"><a th:href="@{/user/loginV}">登录</a></li>
  <li class="layui-nav-item"><a th:href="@{/user/regV}">注册</a></li>
</ul>
<ul class="layui-nav layui-layout-right" th:if="${session.user}">
   <li class="layui-nav-item">
    <a th:href="@{/user/mynoticesV(read_state=all)}">系统消息<span class="layui-badge" style="display: none;"></span></a>
  </li>
  <li class="layui-nav-item" lay-unselect="" style="margin-right: 20px;">
    <a href="javascript:;"><img th:src="@{/faces/}+${session.user.face}" class="layui-nav-img"/><font th:text="${session.user.nickname}"></font></a>
    <dl class="layui-nav-child">
      <dd><a th:href="@{/user/userinfoV}">修改信息</a></dd>
      <dd><a th:href="@{/user/securitymngV}">安全管理</a></dd>
      <dd><a th:href="@{/user/rechargeV}">充值</a></dd>
      <dd><a th:href="@{/user/logout}">退了</a></dd>
    </dl>
  </li>
</ul>
</div>
</div>

<div id="t3">
<br/>
<br/>

<table id="tb">
	<tr>
		<td valign="top">
<div id="left_div">

<ul class="layui-nav layui-nav-tree layui-inline"  lay-filter="demo" style="margin-right: 10px;">
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">我的订单</a>
    <dl class="layui-nav-child">
      <dd id="order_dd"><a th:href="@{/user/myordersV(order_state=all)}">全部订单</a></dd>
      <dd><a th:href="@{/user/myordersV(order_state=unpaid)}">未支付</a></dd>
      <dd><a th:href="@{/user/myordersV(order_state=paid)}">已支付</a></dd>
      <dd><a th:href="@{/user/myordersV(order_state=finished)}">已完成</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">消息中心</a>
    <dl class="layui-nav-child">
      <dd id="notice_dd"><a th:href="@{/user/mynoticesV(read_state=all)}">全部消息</a></dd>
      <dd><a th:href="@{/user/mynoticesV(read_state=false)}">未读消息</a></dd>
      <dd><a th:href="@{/user/mynoticesV(read_state=true)}">已读消息</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">账号中心</a>
    <dl class="layui-nav-child">
      <dd><a th:href="@{/user/userinfoV}">修改信息</a></dd>
      <dd><a th:href="@{/user/securitymngV}">安全管理</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item"><a th:href="@{/user/rechargeV}">充值</a></li>
</ul>

</div>
		</td>
		
		
		<td valign="top">
<div id="right_div">

共<span id="num_span" style="color:#f00a75;"></span>个订单
	<br/>
	<img class="border" th:src="@{/images/border.png}"/>
	
	
	
	<div class="rs_item">
		<div class="rs_item_top">
			<span class="orderid_label">订单号：</span><span class="orderid_span"></span>&nbsp;&nbsp;&nbsp;&nbsp;
			<span class="aaaaaa">|<span class="time_span"></span>|</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span class="rtime_label" style="display: none;">剩余支付时间：<span class="rtime"></span></span>
		</div>
		<span class="money_label">原价：</span><span class="money_span"></span>
		<br/>
		<span class="perc_label">折扣：</span><span class="perc_span"></span>
		<br/>
		<span class="points_cost_label">花费的积分：</span><span class="points_cost_span"></span>
		<br/>
		<span class="rmoney_label">实付：</span><span class="rmoney_span"></span>
		<br/>
		<span class="state_label">订单状态：</span><span class="state_span"></span>
		<a class="od_a" style="margin-left: 350px;">详情</a>&nbsp;&nbsp;
		<input type="button" class="btn1" value="支付" style="display: none;"/>
		<input type="button" class="btn2" value="取消" style="display: none;"/>
		<input type="button" class="btn3" value="退订" style="display: none;"/>
		<br/>
		<img class="border" th:src="@{/images/border.png}"/>
	</div>	
	
	<div class="rs_item">
		<div class="rs_item_top">
			<span class="orderid_label">订单号：</span><span class="orderid_span"></span>&nbsp;&nbsp;&nbsp;&nbsp;
			<span class="aaaaaa">|<span class="time_span"></span>|</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span class="rtime_label" style="display: none;">剩余支付时间：<span class="rtime"></span></span>
		</div>
		<span class="money_label">原价：</span><span class="money_span"></span>
		<br/>
		<span class="perc_label">折扣：</span><span class="perc_span"></span>
		<br/>
		<span class="points_cost_label">花费的积分：</span><span class="points_cost_span"></span>
		<br/>
		<span class="rmoney_label">实付：</span><span class="rmoney_span"></span>
		<br/>
		<span class="state_label">订单状态：</span><span class="state_span"></span>
		<a class="od_a" style="margin-left: 350px;">详情</a>&nbsp;&nbsp;
		<input type="button" class="btn1" value="支付" style="display: none;"/>
		<input type="button" class="btn2" value="取消" style="display: none;"/>
		<input type="button" class="btn3" value="退订" style="display: none;"/>
		<br/>
		<img class="border" th:src="@{/images/border.png}"/>
	</div>	
	
	<div class="rs_item">
		<div class="rs_item_top">
			<span class="orderid_label">订单号：</span><span class="orderid_span"></span>&nbsp;&nbsp;&nbsp;&nbsp;
			<span class="aaaaaa">|<span class="time_span"></span>|</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span class="rtime_label" style="display: none;">剩余支付时间：<span class="rtime"></span></span>
		</div>
		<span class="money_label">原价：</span><span class="money_span"></span>
		<br/>
		<span class="perc_label">折扣：</span><span class="perc_span"></span>
		<br/>
		<span class="points_cost_label">花费的积分：</span><span class="points_cost_span"></span>
		<br/>
		<span class="rmoney_label">实付：</span><span class="rmoney_span"></span>
		<br/>
		<span class="state_label">订单状态：</span><span class="state_span"></span>
		<a class="od_a" style="margin-left: 350px;">详情</a>&nbsp;&nbsp;
		<input type="button" class="btn1" value="支付" style="display: none;"/>
		<input type="button" class="btn2" value="取消" style="display: none;"/>
		<input type="button" class="btn3" value="退订" style="display: none;"/>
		<br/>
		<img class="border" th:src="@{/images/border.png}"/>
	</div>	
	
	
		
	<br/>
	
<input id="pageCount_input" type="hidden" name="pageCount"/>
<div id="page_div"><table id="page_table"><tr></tr></table></div>


		<br/>
		<img class="border" th:src="@{/images/border.png}"/>
注意事项：
<br/>
1.未支付的订单需要在15分钟内支付，超时之后不可支付（订单状态会显示“已超时”），您可以手动取消订单，也可以等待系统自动取消订单。
<br/>
2.预订时会直接消耗您的积分，不会消耗您的余额，支付订单时才消耗您的余额。
<br/>
3.取消和退订订单会将积分的100%退还给您。但是在退订订单时，您所支付的金额要按照一定比例退给您，具体规则如下：
<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;距离演出开始大于5天时退还100%；
<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;距离演出开始小于等于5天且大于4天时退还90%；
<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;距离演出开始小于等于4天且大于3天时退还80%；
<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;距离演出开始小于等于3天且大于2天时退还70%；
<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;距离演出开始小于等于2天且大于1天时退还60%；
<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;距离演出开始小于等于1天时不能退订。
<br/>
4.订单完成时，用户获得订单原价100%的经验、订单原价100%的积分。
<br/>
5.订单取消、订单完成时系统将发送消息通知用户。

	<br/>
	<br/>


</div>
		</td>
		
		
	</tr>
</table>

</div>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<input id="order_state" type="hidden" name="order_state" th:value="${order_state}" />

</body>
</html>