<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Tickets</title>
<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script th:inline="javascript">

	$(function () {
	});

	function func1(data){
	}
	
</script>

<!-- layui相关 -->
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
<script th:src="@{/layui/layui.js}" type="text/javascript"></script>
<script>
layui.use('element', function(){
  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
  
  //监听导航点击
  element.on('nav(demo)', function(elem){
    //console.log(elem)
    layer.msg(elem.text());
  });
});

</script>

<style type="text/css" th:inline="text">
#t1 {
	margin:0 auto;
	background-color:#393D49;
}
/*t2在水平上居中，且有宽度1000px*/
#t2 {
	width:1000px;
	margin:0 auto;/*t2在水平上居中*/
	position:relative;
}
#t3 {
	width:1000px;
	margin:0 auto;
}




/*主体*/
#tb {
	background-color:#eeee00;
	width:996px;
}
#left_div {
	background-color:#ee0000;
	width:300px;
}
#right_div {
	background-color:#00ee00;
	width:696px;
}

</style>
</head>
<body>

<div id="t1">
<div id="t2">
<ul class="layui-nav">
  <li class="layui-nav-item layui-this"><a th:href="@{/user/indexV}">最新演出</a></li>
  <li class="layui-nav-item" th:if="${session.user}">
    <a href="javascript:;">我的订单</a>
    <dl class="layui-nav-child">
      <dd><a th:href="@{/user/myordersV(order_state=all)}">全部订单</a></dd>
      <dd><a th:href="@{/user/myordersV(order_state=unpaid)}">未支付</a></dd>
      <dd><a th:href="@{/user/myordersV(order_state=paid)}">已支付</a></dd>
      <dd><a th:href="@{/user/myordersV(order_state=finished)}">已完成</a></dd>
    </dl>
  </li>
</ul>
<ul class="layui-nav layui-layout-right" th:unless="${session.user}">
  <li class="layui-nav-item"><a th:href="@{/user/loginV}">登录</a></li>
  <li class="layui-nav-item"><a th:href="@{/user/regV}">注册</a></li>
</ul>
<ul class="layui-nav layui-layout-right" th:if="${session.user}">
   <li class="layui-nav-item">
    <a href="">系统消息<span class="layui-badge">9</span></a>
  </li>
  <li class="layui-nav-item" lay-unselect="" style="margin-right: 20px;">
    <a href="javascript:;"><img th:src="@{/faces/default.jpg}" class="layui-nav-img"/><font th:text="${session.user.nickname}"></font></a>
    <dl class="layui-nav-child">
      <dd><a href="javascript:;">修改信息</a></dd>
      <dd><a href="javascript:;">安全管理</a></dd>
      <dd><a href="javascript:;">充值</a></dd>
      <dd><a th:href="@{/user/logout}">退了</a></dd>
    </dl>
  </li>
</ul>
</div>
</div>

<div id="t3">
<br/>
<br/>

<table id="tb">
	<tr>
		<td>
<div id="left_div">

<ul class="layui-nav layui-nav-tree layui-inline"  lay-filter="demo" style="margin-right: 10px;">
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">我的订单</a>
    <dl class="layui-nav-child">
      <dd><a href="javascript:;">全部订单</a></dd>
      <dd><a href="javascript:;">未支付</a></dd>
      <dd><a href="javascript:;">已支付</a></dd>
      <dd><a href="javascript:;">已完成</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">消息中心</a>
    <dl class="layui-nav-child">
      <dd><a href="javascript:;">全部消息</a></dd>
      <dd><a href="javascript:;">未读消息</a></dd>
      <dd><a href="javascript:;">已读消息</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">账号中心</a>
    <dl class="layui-nav-child">
      <dd><a href="javascript:;">修改信息</a></dd>
      <dd><a href="javascript:;">安全管理</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item"><a href="">充值</a></li>
</ul>

</div>
		</td>
		
		
		<td>
<div id="right_div">
	啊啊啊
</div>
		</td>
		
		
	</tr>
</table>

</div>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


</body>
</html>