<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Tickets</title>
<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script th:inline="javascript">
/*<![CDATA[*/      //加上这些，否则如果js有大于号、小于号等会报SAX解析错误
	$(function () {
		//显示未读消息数
		if([[${session.user}]]!=null){//如果登录了
			$.ajax({
				type : "POST",
				url : [[ @{/user/noticescount} ]],
				data : {
					read_state : "false"
				},
				dataType : "json",
				success : function(data){
					if(Number(data)!=0){
						$("span.layui-badge").html(data).show();
					}
				}
			});
		}
		
		
		//先隐藏所有结果div
		var rs_items = $("div.rs_item");
		for(var k=0;k<10;k++) {
			rs_items.eq(k).hide();
		}

		$("#scb").click(function(){
	        search(1);
		});
		$("a.ctype, a.ctype_selected").click(function(){
			$("a.ctype_selected").attr("class","ctype");
			$(this).attr("class","ctype_selected");
			search(1);
		});
		
		
		$(".add_and_top").hide();
		$(window).scroll(function(){
			if ($(window).scrollTop()>200){
				$(".add_and_top").fadeIn(1000);
			}
			else{
				$(".add_and_top").fadeOut(1000);
			}
            var scrolltop = $(window).scrollTop();
            if(scrolltop >= 80){
                $(".class_title").css({
                    "position":"fixed",
                    "_position":"absolute",
                    "_top":scrolltop-80+"px",
                    "top":0+"px",
                    "width":"100%"
                });
            }else{
                $(".class_title").css({
                    "position":"relative",
                    "top":0
                });    
            }
		});
		$(".add_and_top .to_top_aside").click(function(){
			$('body,html').animate({scrollTop:0},400);//400毫秒回到顶部
			return false;
		});
		

		//第一次通过链接进入页面，马上搜索
		if($("#kw_input_h").val()!="" || $("#type_input_h").val()!=""){
			$("#kword").val($("#kw_input_h").val());
			if($("#type_input_h").val()!=""){
				$("a.ctype_selected").attr("class","ctype");
				var a_s = $("a.ctype");
		        for(var i=0;i < a_s.length;i++) {
		        	if(a_s.eq(i).html()==$("#type_input_h").val()) {
		        		a_s.eq(i).attr("class","ctype_selected");
		        		break;
		        	}
		        }
			}
		}
		search(1);
	});

	
	function search(pageNum){
		var ctype_val = $("a.ctype_selected").html();
        if(ctype_val=="全部"){
        	ctype_val="";
        }
        var city_val=$("#two").val();
        if(city_val=="不限"){
        	city_val="";
        }
        var day1_val=$("#day1").val();
        var day2_val=$("#day2").val();
        if(CompareDate(day1_val, day2_val)){
        	alert("第一个日期应该在第二个日期之前！");
        	return;
        }

		var overdue_val = "";
		var isrecommend_val = "";
		var sort_strategy_val = "";
		var rd = $("input.overdue_radio");
        for(var i=0;i<rd.length;i++) {
        	if(rd.eq(i).prop("checked")) {
        		overdue_val = rd.eq(i).val();
        		break;
        	}
        }
		rd = $("input.isrecommend_radio");
        for(var i=0;i<rd.length;i++) {
        	if(rd.eq(i).prop("checked")) {
        		isrecommend_val = rd.eq(i).val();
        		break;
        	}
        }
		rd = $("input.sort_strategy_radio");
        for(var i=0;i<rd.length;i++) {
        	if(rd.eq(i).prop("checked")) {
        		sort_strategy_val = rd.eq(i).val();
        		break;
        	}
        }


		//先隐藏所有结果div
		var rs_items = $("div.rs_item");
		for(var k=0;k<10;k++) {
			rs_items.eq(k).hide();
		}
		
		$.ajax({
			type : "POST",
			url : [[ @{/user/searchplans} ]],	//thymeleaf写法
			data : {
				pageSize : 10,
				index : pageNum,
				keyword : $("#kword").val(),
				day1 : day1_val,
				day2 : day2_val,
				location : city_val,
				overdue : overdue_val,
				isrecommend : isrecommend_val,
				type : ctype_val,
				sort_strategy : sort_strategy_val
			},
			dataType : "json",
			success : func1
		});
	}
	
	function CompareDate(d1,d2) {
		return ((new Date(d1.replace(/-/g,"\/"))) > (new Date(d2.replace(/-/g,"\/"))));
	}
	
/*
例1：页数10 ,9个按钮（为了居中，按钮个数是奇数最好）
[1, 5]
1 2   3 4 5 6 7 ... 10
[6, 10]
1 ... 4 5 6 7 8  9  10
例2：页数20 ,9个按钮（为了居中，按钮个数是奇数最好）
[1, 5]
1 2   3 4 5 6 7 ... 20

6
1 ... 4 5 6 7 8 ... 20

[16,20]
1 ... 14 15 16 17 18 19 20



总结：页数设为c, 按钮数设为n(n为奇数)，p是当前页

当 c<=n时，全部画。
当c==n+1时：
	当1<=p&&p<=(n+1)/2，右边有一个...，p不一定居中
	当p> c-((n+1)/2)，左边有一个...，p不一定居中
当c > n+1时：
	当1<=p&&p<=(n+1)/2，右边有一个...，p不一定居中
	当(n+1)/2 < p&&p <= c-((n+1)/2)，两边都有一个...，p一定居中
	当p> c-((n+1)/2)，左边有一个...，p不一定居中

*/
	function func1(data){

		var recordCount = data.recordCount;
		var pageCount = data.pageCount;
		var index = data.index;
		if( $("#kword").val()!="" ){
			$("#kw_span").html($("#kword").val());
			$("#e_kw_span").show();
		}else{
			$("#e_kw_span").hide();
		}
		$("#num_span").html(recordCount);
		
		//设置底部分页
		if(pageCount==0){//0页，即0个结果
			$("#page_table").hide();
			return;
		}
		$("#page_table").show();
		$("#pageCount_input").val(pageCount);
		
		var n=13;//为了居中，按钮个数是奇数最好
		var c=pageCount, p=index;
		var page_tr = $("#page_table tr");
		page_tr.empty();
		if(c<=n){
	        for(var i=1;i<=c;i++) {
	        	var td = $("<td/>");
	        	var div = $("<div/>");
	        	if(i==p){
	        		div.attr("class", "current_page").html(i);
	        	}else{
	        		div.attr("class", "normal_page").html(i);
	        	}
	        	td.appendTo(page_tr).append(div);
	    	}
		}else if(c==n+1){
			if(1<=p&&p<=(n+1)/2) {
		        for(var i=1;i<=n-2;i++) {
		        	var td = $("<td/>");
		        	var div = $("<div/>");
		        	if(i==p){
		        		div.attr("class", "current_page").html(i);
		        	}else{
		        		div.attr("class", "normal_page").html(i);
		        	}
		        	td.appendTo(page_tr).append(div);
		    	}
	        	var td2 = $("<td/>");
	        	var div2 = $("<div/>");
	        	div2.attr("class", "more_page").html("...");
	        	td2.appendTo(page_tr).append(div2);
	        	var td3 = $("<td/>");
	        	var div3 = $("<div/>");
	        	div3.attr("class", "normal_page").html(c);
	        	td3.appendTo(page_tr).append(div3);
			}else if(p> c-((n+1)/2)) {
	        	var td2 = $("<td/>");
	        	var div2 = $("<div/>");
	        	div2.attr("class", "normal_page").html(1);
	        	td2.appendTo(page_tr).append(div2);
	        	var td3 = $("<td/>");
	        	var div3 = $("<div/>");
	        	div3.attr("class", "more_page").html("...");
	        	td3.appendTo(page_tr).append(div3);
		        for(var i=c-n+3;i<=c;i++) {
		        	var td = $("<td/>");
		        	var div = $("<div/>");
		        	if(i==p){
		        		div.attr("class", "current_page").html(i);
		        	}else{
		        		div.attr("class", "normal_page").html(i);
		        	}
		        	td.appendTo(page_tr).append(div);
		    	}
			}
		}else if(c > n+1){
			if(1<=p&&p<=(n+1)/2) {
		        for(var i=1;i<=n-2;i++) {
		        	var td = $("<td/>");
		        	var div = $("<div/>");
		        	if(i==p){
		        		div.attr("class", "current_page").html(i);
		        	}else{
		        		div.attr("class", "normal_page").html(i);
		        	}
		        	td.appendTo(page_tr).append(div);
		    	}
	        	var td2 = $("<td/>");
	        	var div2 = $("<div/>");
	        	div2.attr("class", "more_page").html("...");
	        	td2.appendTo(page_tr).append(div2);
	        	var td3 = $("<td/>");
	        	var div3 = $("<div/>");
	        	div3.attr("class", "normal_page").html(c);
	        	td3.appendTo(page_tr).append(div3);
			}else if((n+1)/2 < p&&p <= c-((n+1)/2)) {
	        	var td2 = $("<td/>");
	        	var div2 = $("<div/>");
	        	div2.attr("class", "normal_page").html(1);
	        	td2.appendTo(page_tr).append(div2);
	        	var td3 = $("<td/>");
	        	var div3 = $("<div/>");
	        	div3.attr("class", "more_page").html("...");
	        	td3.appendTo(page_tr).append(div3);
		        for(var i=p-((n+1)/2-2)+1;i<=p+((n+1)/2-2)-1;i++) {
		        	var td = $("<td/>");
		        	var div = $("<div/>");
		        	if(i==p){
		        		div.attr("class", "current_page").html(i);
		        	}else{
		        		div.attr("class", "normal_page").html(i);
		        	}
		        	td.appendTo(page_tr).append(div);
		    	}
	        	var td4 = $("<td/>");
	        	var div4 = $("<div/>");
	        	div4.attr("class", "more_page").html("...");
	        	td4.appendTo(page_tr).append(div4);
	        	var td5 = $("<td/>");
	        	var div5 = $("<div/>");
	        	div5.attr("class", "normal_page").html(c);
	        	td5.appendTo(page_tr).append(div5);
			}else if(p> c-((n+1)/2)) {
	        	var td2 = $("<td/>");
	        	var div2 = $("<div/>");
	        	div2.attr("class", "normal_page").html(1);
	        	td2.appendTo(page_tr).append(div2);
	        	var td3 = $("<td/>");
	        	var div3 = $("<div/>");
	        	div3.attr("class", "more_page").html("...");
	        	td3.appendTo(page_tr).append(div3);
		        for(var i=c-n+3;i<=c;i++) {
		        	var td = $("<td/>");
		        	var div = $("<div/>");
		        	if(i==p){
		        		div.attr("class", "current_page").html(i);
		        	}else{
		        		div.attr("class", "normal_page").html(i);
		        	}
		        	td.appendTo(page_tr).append(div);
		    	}
			}
		}
		$(".normal_page").hover(function(){
			$(this).attr("class","normal_page_hover");
		},function(){
			$(this).attr("class","normal_page");
		});
		$(".normal_page, .current_page").click(function(){
			search(Number($(this).html()));
		});
    	var pageNum_td = $("<td/>");
    	var pageNum_input = $("<input/>");
    	pageNum_input.attr("type", "text").attr("class", "pageNum").val(1);
    	pageNum_td.appendTo(page_tr).append(pageNum_input);
    	var jmp_td = $("<td/>");
    	var jmp_div = $("<div/>");
    	jmp_div.attr("class", "jmp_btn").html("跳转");
    	jmp_div.hover(function(){
			$(this).attr("class","jmp_btn_hover");
		},function(){
			$(this).attr("class","jmp_btn");
		});
    	jmp_div.click(function(){
    		var page_n = $("input.pageNum").val();
    		if(!/^[0-9]+$/.test(page_n) || Number(page_n)==0) {//是否为正整数
    			alert("请输入正整数！");
    			$("input.pageNum").val(1);
    			return;
    		}
    		if(Number(page_n)>Number($("#pageCount_input").val())) {//是否超出页数
    			alert("超出页数！");
    			$("input.pageNum").val(1);
    			return;
    		}
			search(Number(page_n));
    	});
    	jmp_td.appendTo(page_tr).append(jmp_div);
		//设置底部分页完
		
		

		var rs_items = $("div.rs_item");
		var covers = $("img.cover");
		var title_spans = $("span.title_span");
		var introduction_spans = $(".introduction_span");
		var starttime_spans = $("span.starttime_span");
		var endtime_spans = $("span.endtime_span");
		var location_spans = $("span.location_span");
		var type_spans = $("span.type_span");
		var preoder_btns = $(".preoder_btn");
		var ovds = $("span.ovd");
		var cover_head_val = $("#cover_head").val();//封面路径前缀
		var loadseat_path_val = $("#loadseat_path").val();//"/user/loadseat"控制器路径
        var i=0;
		var list = data.list;
		$.each(list, function(){
			covers.eq(i).attr("src", cover_head_val + this.cover);
			title_spans.eq(i).html(this.name);
			introduction_spans.eq(i).html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+this.introduction);
			starttime_spans.eq(i).html(this.starttime.substring(0,19));
			endtime_spans.eq(i).html(this.endtime.substring(0,19));
			location_spans.eq(i).html(this.location);
			type_spans.eq(i).html(this.type);
			
            
            if(this.overdue==1){
            	preoder_btns.eq(i).hide();
            	ovds.eq(i).show();
            }else if(this.overdue==0){
            	ovds.eq(i).hide();
            	preoder_btns.eq(i).show();
                var url= loadseat_path_val+"?planid="+this.id;
                var url2= [[ @{/user/loginV} ]];	//thymeleaf写法，没登录就跳转到登录
                
                if([[${session.user}]]==null){//没有登录
                	preoder_btns.eq(i).click(function(){
                    	window.location.href=url2;
            		});
                }else{
                	preoder_btns.eq(i).click(function(){
                    	window.location.href=url;
            		});
                }

                
            }
			
			rs_items.eq(i).show();
            i++;
		});
		
		
	}
/*]]>*/
</script>

<!-- layui相关 -->
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
<script th:src="@{/layui/layui.js}" type="text/javascript"></script>
<script>
layui.use('element', function(){
  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
  
  //监听导航点击
  element.on('nav(demo)', function(elem){
    //console.log(elem)
    layer.msg(elem.text());
  });
});

</script>

<style type="text/css" th:inline="text">
#t1 {
	margin:0 auto;
	background-color:#393D49;
}
/*t2在水平上居中，且有宽度1000px*/
#t2 {
	width:1000px;
	margin:0 auto;/*t2在水平上居中*/
	position:relative;
}
#t3 {
	width:1000px;
	margin:0 auto;
}

/*搜索框*/
#searchbox {
	margin-left:0px;
}
#kword {
	width:400px;
	height:30px;
	margin-left:120px;
}


/*筛选条件表格*/
#cate_table {
	border:#cccccc solid; 
	border-width:1px;
	
	width:996px;
}
#cate_table tr {
	padding-top:10px;
	padding-bottom:10px;
	display:block;
}
#cate_table tr td:first-child {
	width:100px;
}
span.cate {
	margin-left:17px;
	color:#777777;
}

a.ctype, a.ctype:link, a.ctype_selected, a.ctype_selected:link{/*超链接平常的状态*/
	text-decoration:none;/*去掉下划线*/
	margin-right:30px;
    padding:6px 10px 6px 10px;/*设置上、右、下、左内边距*/
}
a.ctype:hover, a.ctype:active, a.ctype_selected:hover, a.ctype_selected:active{/*鼠标放到超链接上的时候；超链接被按下的时候 */
	color:#ffffff;
	background-color:#f00a75;
}
a.ctype_selected{/*超链接平常的状态*/	
	color:#ffffff;
	background-color:#f00a75;
}


/*搜索结果集div*/
.rs {
	border:#cccccc solid; 
	border-width:1px;
	
	width:996px;
	display:block;
    margin-top:20px;
}

.rs_item {
	/*调内外边距时取消注释这两句会很清楚
	border:#ff0000 solid; 
	border-width:1px;
	background-color:#aaaaaa;
	*/
	
	border-radius:5px;/*圆角矩形样式*/
	opacity:1.0;/*透明度*/

	display:block; /*将tr设置为块体元素*/
    margin:20px 0px 20px 0px;/*设置上、右、下、左外边距*/
    padding:20px 10px 0px 10px;/*设置上、右、下、左内边距*/
    
    
	height: 240px;
}
img.cover {
	width: 389px;
	height: 220px;
}
.title_span {
	
    margin-left:20px;/*左外边距*/
	font-size:18px;/*字体大小*/
}
.introduction_span {
	/*调内外边距时取消注释这两句会很清楚
	border:#ff0000 solid; 
	border-width:1px;
	*/
	
	font-size:14px;/*字体大小*/
	color:#999999;
	
    margin-left:20px;/*左外边距*/
	
max-width: 550px;
height: 80px;
overflow: hidden;
text-overflow: ellipsis;
/*
white-space: nowrap;
*/
}

.title_span ,.timelabel ,.citylabel ,.typelabel ,.preoder_btn ,.ovd {
	
    margin-left:20px;/*左外边距*/
}
.ovd {
	color:#999999;
}



.add_and_top{
	position:fixed;/*固定坐标*/
	bottom:100px;
	right:50px;
	width:60px;
	height:60px;
}
.to_top_aside{
	display:block;/*没有这句图片就显示不出来*/
	background:url(  [[@{/images/totop.png}]]  ) no-repeat;	/*thymeleaf写法*/
	width:60px;
	height:60px;
	cursor:pointer;
}

/*底部分页样式*/
#page_div{
	width:998px;
}
#page_table{
	margin:0 auto;
	display: none; /*隐藏*/
}
.current_page, .normal_page, .more_page{
	width:30px;
	height:30px;
	text-align: center; /*里面的元素水平居中*/
	line-height:30px;
}
.current_page {
	border:#ff5722 solid; 
	border-width:1px;
	background-color:#ff5722;
	color:#ffffff;
}
.normal_page, .more_page{
	border:#cccccc solid; 
	border-width:1px;
	background-color:#ffffff;
	color:#000000;
}
.normal_page_hover{
	width:30px;
	height:30px;
	text-align: center; /*里面的元素水平居中*/
	line-height:30px;
	border:#ff5722 solid; 
	border-width:1px;
	background-color:#ff5722;
	color:#ffffff;
}
.current_page, .normal_page, .normal_page_hover {
	cursor:pointer;
}
.pageNum {
	background-color:#eeeeee;
	font-size:12px;
	width:30px;
	padding:5px 0px 5px 0px;/*设置上、右、下、左内边距*/
	margin:0px 3px 0px 10px;/*设置上、右、下、左外边距*/
	
	border:none;/*没有边框*/
}
.jmp_btn {
	width:50px;
	height:30px;
	text-align: center; /*里面的元素水平居中*/
	line-height:30px;
	border:#cccccc solid; 
	border-width:1px;
	background-color:#ffffff;
	color:#000000;
	cursor:pointer;
}
.jmp_btn_hover {
	width:50px;
	height:30px;
	text-align: center; /*里面的元素水平居中*/
	line-height:30px;
	border:#ff5722 solid; 
	border-width:1px;
	background-color:#ff5722;
	color:#ffffff;
	cursor:pointer;
}
/*底部分页样式完*/


</style>
</head>
<body>

<div id="t1">
<div id="t2">
<ul class="layui-nav">
  <li class="layui-nav-item layui-this"><a th:href="@{/user/indexV}">最新演出</a></li>
  <li class="layui-nav-item" th:if="${session.user}">
    <a href="javascript:;">我的订单</a>
    <dl class="layui-nav-child">
      <dd><a th:href="@{/user/myordersV(order_state=all)}">全部订单</a></dd>
      <dd><a th:href="@{/user/myordersV(order_state=unpaid)}">未支付</a></dd>
      <dd><a th:href="@{/user/myordersV(order_state=paid)}">已支付</a></dd>
      <dd><a th:href="@{/user/myordersV(order_state=finished)}">已完成</a></dd>
    </dl>
  </li>
</ul>
<ul class="layui-nav layui-layout-right" th:unless="${session.user}">
  <li class="layui-nav-item"><a th:href="@{/user/loginV}">登录</a></li>
  <li class="layui-nav-item"><a th:href="@{/user/regV}">注册</a></li>
</ul>
<ul class="layui-nav layui-layout-right" th:if="${session.user}">
   <li class="layui-nav-item">
    <a th:href="@{/user/mynoticesV(read_state=all)}">系统消息<span class="layui-badge" style="display: none;"></span></a>
  </li>
  <li class="layui-nav-item" lay-unselect="" style="margin-right: 20px;">
    <a href="javascript:;"><img th:src="@{/faces/}+${session.user.face}" class="layui-nav-img"/><font th:text="${session.user.nickname}"></font></a>
    <dl class="layui-nav-child">
      <dd><a th:href="@{/user/userinfoV}">修改信息</a></dd>
      <dd><a th:href="@{/user/securitymngV}">安全管理</a></dd>
      <dd><a th:href="@{/user/rechargeV}">充值</a></dd>
      <dd><a th:href="@{/user/logout}">退了</a></dd>
    </dl>
  </li>
</ul>
</div>
</div>

<div id="t3">
<br/>
<br/>


	<a th:href="@{/user/indexV}"><img th:src="@{/images/logo.png}"/></a>
	<input type="text" id="kword" name="kword" placeholder="请输入关键字"/>
	<button id="scb" class="layui-btn layui-btn-normal layui-btn-radius">搜全网</button>


<br/>
<br/>
<table id="cate_table">
<tr>
<td>
	<span class="cate">分类：</span>
</td>
<td>
	<a class="ctype_selected" href="#">全部</a>
	<a class="ctype" href="#">流行</a>
	<a class="ctype" href="#">古典</a>
	<a class="ctype" href="#">摇滚</a>
	<a class="ctype" href="#">名族</a>
	<a class="ctype" href="#">乡村</a>
	<a class="ctype" href="#">管弦乐</a>
	<a class="ctype" href="#">其它</a>
</td>
</tr>
<tr>
<td>
	<span class="cate">城市：</span>
</td>
<td>
	<select id="one" onchange="changecity(this.value)">
        <option value="0">不限</option>
        <option value="1">河北</option>
        <option value="2">山西</option>
        <option value="3">内蒙古</option>
        <option value="4">辽宁</option>
        <option value="5">吉林</option>
        <option value="6">黑龙江</option>
        <option value="7">江苏</option>
        <option value="8">浙江</option>
        <option value="9">安徽</option>
        <option value="10">福建</option>
        <option value="11">江西</option>
        <option value="12">山东</option>
        <option value="13">河南</option>
        <option value="14">湖北</option>
        <option value="15">湖南</option>
        <option value="16">广东</option>
        <option value="17">广西</option>
        <option value="18">四川</option>
        <option value="19">贵州</option>
        <option value="20">云南</option>
        <option value="21">西藏</option>
        <option value="22">陕西</option>
        <option value="23">甘肃</option>
        <option value="24">青海</option>
        <option value="25">宁夏</option>
        <option value="26">新疆</option>
        <option value="27">海南</option>
        <option value="28">北京</option>
        <option value="29">天津</option>
        <option value="30">上海</option>
        <option value="31">重庆</option>
        <option value="32">台湾</option>
        <option value="33">香港</option>
        <option value="34">澳门</option>
    </select>
    <select id="two" onchange="search(1);">
        <option value="不限">不限</option>
    </select>
    <script>
    /*<![CDATA[*/      //加上这些，否则如果js有大于号、小于号等会报SAX解析错误
    function changecity(m){
        var two = $("#two");
        two.empty();
        var city = [];
        switch(Number(m)){
        case 0:city = ["不限"];break;
        case 1:city = ['石家庄','唐山','秦皇岛','邯郸','邢台','保定','张家口','承德','沧州','廊坊','衡水'];break;
        case 2:city = ["太原","大同","阳泉","长治","晋城","朔州","晋中","运城","忻州","临汾","吕梁"];break;
        case 3:city = ["呼和浩特","包头","乌海","赤峰","通辽","鄂尔多斯","呼伦贝尔","巴彦淖尔","乌兰察布","锡林浩特","乌兰浩特"];break;
        case 4:city = ["沈阳","大连","鞍山","抚顺","本溪","丹东","锦州","营口","阜新","辽阳","盘锦","铁岭","朝阳","葫芦岛"];break;
        case 5:city = ["长春","吉林","四平","辽源","通化","白山","松原","白城","延边朝鲜族自治州"];break;
        case 6:city = ["哈尔滨","齐齐哈尔","牡丹江","佳木斯","大庆","鸡西","双鸭山","伊春","七台河","鹤岗","黑河","绥化","大兴安岭地区"];break;
        case 7:city = ["南京","无锡","徐州","常州","苏州","南通","连云港","淮安","盐城","扬州","镇江","泰州","宿迁"];break;
        case 8:city = ["杭州","宁波","温州","嘉兴","湖州","绍兴","金华","衢州","舟山","台州","丽水"];break;
        case 9:city = ["合肥","亳州","淮北","宿州","阜阳","蚌埠","淮南","滁州","六安","巢湖","芜湖","马鞍山","安庆","池州","铜陵","宣城","黄山"];break;
        case 10:city = ["福州","厦门","莆田","三明","泉州","漳州","南平","龙岩","宁德"];break;
        case 11:city = ["南昌","景德镇","萍乡","九江","新余","鹰潭","赣州","吉安","宜春","抚州","上饶"];break;
        case 12:city = ["济南","青岛","淄博","枣庄","东营","烟台","潍坊","济宁","泰安","威海","日照","莱芜","临沂","德州","聊城","滨州","菏泽"];break;
        case 13:city = ["郑州","开封","洛阳","平顶山","安阳","焦作","鹤壁","新乡","濮阳","许昌","漯河","三门峡","南阳","商丘","信阳","周口","驻马店"];break;
        case 14:city = ["武汉","黄石","襄樊","荆州","宜昌","十堰","孝感","荆门","鄂州","黄冈","咸宁","随州","恩施土家族苗族自治州"];break;
        case 15:city = ["长沙","株洲","湘潭","衡阳","邵阳","岳阳","常德","张家界","益阳","郴州","永州","怀化","娄底","湘西土家族苗族自治州"];break;
        case 16:city = ["广州","深圳","珠海","汕头","佛山","韶关","河源","梅州","惠州","汕尾","东莞","中山","江门","阳江","湛江","茂名","肇庆","清远","潮州","揭阳","云浮"];break;
        case 17:city = ["南宁","桂林","梧州","北海","防城港","钦州","贵港","玉林","百色","贺州","河池","宜州","来宾","崇左"];break;
        case 18:city = ["成都","自贡","攀枝花","泸州","德阳","绵阳","广元","遂宁","内江","乐山","南充","宜宾","广安","达州","巴中","雅安","眉山","资阳","阿坝藏族羌族自治州","甘孜藏族自治州","凉山彝族自治州"];break;
        case 19:city = ["贵阳","六盘水","遵义","安顺","铜仁","毕节","黔西南布依族苗族自治州","黔东南苗族侗族自治州","黔南布依族苗族自治州"];break;
        case 20:city = ["昆明","丽江","曲靖","玉溪","昭通","保山","临沧","思茅","楚雄彝族自治州","红河哈尼族彝族自治州","文山壮族苗族自治州","西双版纳傣族自治州","大理白族自治州","德宏傣族景颇族自治州","怒江傈僳族自治州","迪庆藏族自治州"];break;
        case 21:city = ["拉萨","日喀地区","山南地区","林芝地区","昌都地区","那曲地区","阿里地区"];break;
        case 22:city = ["西安","宝鸡","咸阳","铜川","渭南","延安","榆林","汉中","安康","商洛"];break;
        case 23:city = ["兰州","嘉峪关","金昌","白银","天水","武威","张掖","酒泉","平凉","庆阳","定西","陇南","临夏回族自治州","甘南藏族自治州"];break;
        case 24:city = ["西宁","海东地区","海北藏族自治州","海南藏族自治州","海西蒙古族藏族自治州","黄南藏族自治州","玉树藏族自治州","果洛藏族自治州"];break;
        case 25:city = ["银川","石嘴山","吴忠","固原","中卫"];break;
        case 26:city = ["乌鲁木齐","克拉玛依","克孜勒苏柯尔克孜自治州","巴音郭楞蒙古自治州","昌吉回族自治州","博尔塔拉蒙古自治州","伊犁哈萨克自治州","塔城地区","阿勒泰地区","吐鲁番地区","哈密地区","和田地区","阿克苏地区","喀什地区"];break;
        case 27:city = ["海口","三亚","三沙"];break;
        case 28:city = ["北京"];break;
        case 29:city = ["天津"];break;
        case 30:city = ["上海"];break;
        case 31:city = ["重庆"];break;
        case 32:city = ["台北","新北","桃园","台中","台南","高雄"];break;
        case 33:city = ["香港"];break;
        case 34:city = ["澳门"];break;
        defau3lt:break;
        }
        for (var i = 0; i < city.length; i++) {
			var option = $("<option/>");//创建一个<option/>元素
			option.attr("value",city[i]).html(city[i]).appendTo(two);
        };
        search(1);
    }
    /*]]>*/
	</script>
</td>
</tr>
<tr>
<td>
	<span class="cate">时间：</span>
</td>
<td>
	从<input id="day1" type="date" value="2018-04-01"/>到
	<input id="day2" type="date" value="2018-12-31"/>
</td>
</tr>

<tr>
<td>
	<span class="cate">是否过期：</span>
</td>
<td>
	<input class="overdue_radio" name="overdue" value="" type="radio" checked="true"/>全部
	<input class="overdue_radio" name="overdue" value="false" type="radio"/>不过期
	<input class="overdue_radio" name="overdue" value="true" type="radio"/>过期
</td>
</tr>

<tr>
<td>
	<span class="cate">是否推荐：</span>
</td>
<td>
	<input class="isrecommend_radio" name="isrecommend" value="" type="radio" checked="true"/>全部
	<input class="isrecommend_radio" name="isrecommend" value="true" type="radio"/>推荐
	<input class="isrecommend_radio" name="isrecommend" value="false" type="radio"/>非推荐
</td>
</tr>

<tr>
<td>
	<span class="cate">排序规则：</span>
</td>
<td>
	<input class="sort_strategy_radio" name="sort_strategy" value="DESC" type="radio" checked="true"/>时间降序
	<input class="sort_strategy_radio" name="sort_strategy" value="ASC" type="radio"/>时间升序
</td>
</tr>
</table>

<br/>
<span><span id="e_kw_span" style="display:none;">搜索“<span id="kw_span" style="color:#f00a75;"></span>”, </span>共<span id="num_span" style="color:#f00a75;"></span>个结果</span>
<div class="rs">
	<div class="rs_item">
	<table>
	<tr>
	<td>
		<img class="cover"/>
	</td>
	<td>
	<div>
		<span class="title_span"></span>
		<br/>
		<p class="introduction_span"></p>
		<br/>
		<span class="timelabel">时间：</span><span class="starttime_span"></span>&nbsp;&nbsp;~&nbsp;&nbsp;<span class="endtime_span"></span>
		<br/>
		<span class="citylabel">城市：</span><span class="location_span"></span>
		<br/>
		<span class="typelabel">类型：</span><span class="type_span"></span>
		<br/>
		<button class="layui-btn layui-btn-normal layui-btn-radius preoder_btn">预订</button><span class="ovd">[已过期]</span>
	</div>
	</td>
	</tr>
	</table>
	<br/>
	<img th:src="@{/images/border.png}"/>
	</div>
	
	
		<div class="rs_item">
	<table>
	<tr>
	<td>
		<img class="cover"/>
	</td>
	<td>
	<div>
		<span class="title_span"></span>
		<br/>
		<p class="introduction_span"></p>
		<br/>
		<span class="timelabel">时间：</span><span class="starttime_span"></span>&nbsp;&nbsp;~&nbsp;&nbsp;<span class="endtime_span"></span>
		<br/>
		<span class="citylabel">城市：</span><span class="location_span"></span>
		<br/>
		<span class="typelabel">类型：</span><span class="type_span"></span>
		<br/>
		<button class="layui-btn layui-btn-normal layui-btn-radius preoder_btn">预订</button><span class="ovd">[已过期]</span>
	</div>
	</td>
	</tr>
	</table>
	<br/>
	<img th:src="@{/images/border.png}"/>
	</div>
	
	
		<div class="rs_item">
	<table>
	<tr>
	<td>
		<img class="cover"/>
	</td>
	<td>
	<div>
		<span class="title_span"></span>
		<br/>
		<p class="introduction_span"></p>
		<br/>
		<span class="timelabel">时间：</span><span class="starttime_span"></span>&nbsp;&nbsp;~&nbsp;&nbsp;<span class="endtime_span"></span>
		<br/>
		<span class="citylabel">城市：</span><span class="location_span"></span>
		<br/>
		<span class="typelabel">类型：</span><span class="type_span"></span>
		<br/>
		<button class="layui-btn layui-btn-normal layui-btn-radius preoder_btn">预订</button><span class="ovd">[已过期]</span>
	</div>
	</td>
	</tr>
	</table>
	<br/>
	<img th:src="@{/images/border.png}"/>
	</div>
	
	
		<div class="rs_item">
	<table>
	<tr>
	<td>
		<img class="cover"/>
	</td>
	<td>
	<div>
		<span class="title_span"></span>
		<br/>
		<p class="introduction_span"></p>
		<br/>
		<span class="timelabel">时间：</span><span class="starttime_span"></span>&nbsp;&nbsp;~&nbsp;&nbsp;<span class="endtime_span"></span>
		<br/>
		<span class="citylabel">城市：</span><span class="location_span"></span>
		<br/>
		<span class="typelabel">类型：</span><span class="type_span"></span>
		<br/>
		<button class="layui-btn layui-btn-normal layui-btn-radius preoder_btn">预订</button><span class="ovd">[已过期]</span>
	</div>
	</td>
	</tr>
	</table>
	<br/>
	<img th:src="@{/images/border.png}"/>
	</div>
	
	
		<div class="rs_item">
	<table>
	<tr>
	<td>
		<img class="cover"/>
	</td>
	<td>
	<div>
		<span class="title_span"></span>
		<br/>
		<p class="introduction_span"></p>
		<br/>
		<span class="timelabel">时间：</span><span class="starttime_span"></span>&nbsp;&nbsp;~&nbsp;&nbsp;<span class="endtime_span"></span>
		<br/>
		<span class="citylabel">城市：</span><span class="location_span"></span>
		<br/>
		<span class="typelabel">类型：</span><span class="type_span"></span>
		<br/>
		<button class="layui-btn layui-btn-normal layui-btn-radius preoder_btn">预订</button><span class="ovd">[已过期]</span>
	</div>
	</td>
	</tr>
	</table>
	<br/>
	<img th:src="@{/images/border.png}"/>
	</div>
	
	
	<div class="rs_item">
	<table>
	<tr>
	<td>
		<img class="cover"/>
	</td>
	<td>
	<div>
		<span class="title_span"></span>
		<br/>
		<p class="introduction_span"></p>
		<br/>
		<span class="timelabel">时间：</span><span class="starttime_span"></span>&nbsp;&nbsp;~&nbsp;&nbsp;<span class="endtime_span"></span>
		<br/>
		<span class="citylabel">城市：</span><span class="location_span"></span>
		<br/>
		<span class="typelabel">类型：</span><span class="type_span"></span>
		<br/>
		<button class="layui-btn layui-btn-normal layui-btn-radius preoder_btn">预订</button><span class="ovd">[已过期]</span>
	</div>
	</td>
	</tr>
	</table>
	<br/>
	<img th:src="@{/images/border.png}"/>
	</div>
	
	
		<div class="rs_item">
	<table>
	<tr>
	<td>
		<img class="cover"/>
	</td>
	<td>
	<div>
		<span class="title_span"></span>
		<br/>
		<p class="introduction_span"></p>
		<br/>
		<span class="timelabel">时间：</span><span class="starttime_span"></span>&nbsp;&nbsp;~&nbsp;&nbsp;<span class="endtime_span"></span>
		<br/>
		<span class="citylabel">城市：</span><span class="location_span"></span>
		<br/>
		<span class="typelabel">类型：</span><span class="type_span"></span>
		<br/>
		<button class="layui-btn layui-btn-normal layui-btn-radius preoder_btn">预订</button><span class="ovd">[已过期]</span>
	</div>
	</td>
	</tr>
	</table>
	<br/>
	<img th:src="@{/images/border.png}"/>
	</div>
	
	
		<div class="rs_item">
	<table>
	<tr>
	<td>
		<img class="cover"/>
	</td>
	<td>
	<div>
		<span class="title_span"></span>
		<br/>
		<p class="introduction_span"></p>
		<br/>
		<span class="timelabel">时间：</span><span class="starttime_span"></span>&nbsp;&nbsp;~&nbsp;&nbsp;<span class="endtime_span"></span>
		<br/>
		<span class="citylabel">城市：</span><span class="location_span"></span>
		<br/>
		<span class="typelabel">类型：</span><span class="type_span"></span>
		<br/>
		<button class="layui-btn layui-btn-normal layui-btn-radius preoder_btn">预订</button><span class="ovd">[已过期]</span>
	</div>
	</td>
	</tr>
	</table>
	<br/>
	<img th:src="@{/images/border.png}"/>
	</div>
	
	
		<div class="rs_item">
	<table>
	<tr>
	<td>
		<img class="cover"/>
	</td>
	<td>
	<div>
		<span class="title_span"></span>
		<br/>
		<p class="introduction_span"></p>
		<br/>
		<span class="timelabel">时间：</span><span class="starttime_span"></span>&nbsp;&nbsp;~&nbsp;&nbsp;<span class="endtime_span"></span>
		<br/>
		<span class="citylabel">城市：</span><span class="location_span"></span>
		<br/>
		<span class="typelabel">类型：</span><span class="type_span"></span>
		<br/>
		<button class="layui-btn layui-btn-normal layui-btn-radius preoder_btn">预订</button><span class="ovd">[已过期]</span>
	</div>
	</td>
	</tr>
	</table>
	<br/>
	<img th:src="@{/images/border.png}"/>
	</div>
	
	
		<div class="rs_item">
	<table>
	<tr>
	<td>
		<img class="cover"/>
	</td>
	<td>
	<div>
		<span class="title_span"></span>
		<br/>
		<p class="introduction_span"></p>
		<br/>
		<span class="timelabel">时间：</span><span class="starttime_span"></span>&nbsp;&nbsp;~&nbsp;&nbsp;<span class="endtime_span"></span>
		<br/>
		<span class="citylabel">城市：</span><span class="location_span"></span>
		<br/>
		<span class="typelabel">类型：</span><span class="type_span"></span>
		<br/>
		<button class="layui-btn layui-btn-normal layui-btn-radius preoder_btn">预订</button><span class="ovd">[已过期]</span>
	</div>
	</td>
	</tr>
	</table>
	<br/>
	<img th:src="@{/images/border.png}"/>
	</div>
	
	
	
	<br/>
	

<input id="pageCount_input" type="hidden" name="pageCount"/>
<div id="page_div"><table id="page_table"><tr></tr></table></div>

	<br/>
	<br/>
</div>

<input id="kw_input_h" type="hidden" name="kw_input_h" th:value="${keyword}"/>
<input id="type_input_h" type="hidden" name="type_input_h" th:value="${type}" />
<input id="cover_head" type="hidden" name="cover_head" th:value="@{/cover/}" />
<input id="loadseat_path" type="hidden" name="loadseat_path" th:value="@{/user/loadseat}" />
</div>

<div class="add_and_top">
	<a class="to_top_aside" title="返回顶部"></a>
</div>


</body>
</html>